include ../button/button
mixin number(options)
    .number
        img(src="img/fish.svg" class='number__fish' alt="vector_fish")
        h2= options.mainTitle         
        .number__main            
            img(src="img/" + options.img[0], alt="Cat" class='number__photo' data-value='0')
            img(src="img/" + options.img[1], alt="Cat" class='number__photo hidden' data-value='1')
            img(src="img/" + options.img[2], alt="Cat" class='number__photo hidden' data-value='2')
            .number__condition
                h3.number__title= options.title 
                ul 
                    li.number__li= 'Площадь - ' + options.area + ' м2'
                    li.number__li= 'Размеры (ШхГхВ) - ' + options.size + ' см' 
                    li.number__li= 'Цена за сутки: ' + options.price + '₽'
                +button({red:true})
        .number__dots 
            .number__dot.active(data-value='0') fiber_manual_record
            .number__dot(data-value='1') fiber_manual_record
            .number__dot(data-value='2') fiber_manual_record
        .number__arrows 
            a(href="room.html" class='number__arrow') keyboard_arrow_left
            a(href="room.html" class='number__arrow') keyboard_arrow_right

//- +number({
//-     mainTitle: 'Номера'
//-     img: ['cat.svg', 'fish.svg', 'cat.svg'],
//-     title: 'Сьют',
//-     area: '1,13',
//-     size: '100x125x180',
//-     price: '250'
//- })